body {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
    
#Header { grid-area: 1 / 2 / 2 / 8; }
#FilterBar { grid-area: 2 / 2 / 7 / 3; }
#Results { grid-area: 2 / 3 / 7 / 8; }